.instruction{
    background-color:#274659;
    color:#ffffff;
    padding:1em;
    max-width:60ch;
}
*, *::before, *::after {
    box-sizing: border-box;
}
:root{
    --header-clr:#012340;
    --text-clr:#0D0D0D;
    --invert-text:#ffffff;
    --header-bg:#BFB3A8;
    --table-hdr-bg:#274659;

}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

body{
    margin:0;
    color:var(--text-clr);
    font-family: Roboto,sans-serif;
}
header, footer{
    /* overflow:auto; */
    background-color:var(--header-bg);
    padding-block:1em;
}
h1{
    color:var(--header-clr);
    text-align:center;
    margin-block:0;
}
main{
    margin-inline:3em;
}
/* --------- Add your styles below this line. Do not remove the styles above this line ------ */
.primary{
    width:70%;
    float:left;
}
.side{
    width:30%;
    float:right;
    padding-left:2em;
}
.clear{
    padding-top:1em;
    clear:both;
}

.right{
    width:33%;
    float:right;
}

.left{
    width:67%;
    float:left;
}
.left p{
    padding-inline: 1em;
}